<html>
    <head>
        <title>Mein Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Meine erste HTML-Seite!</a></h1>
        </div>
        <div>
            <p>erstellt: 11.09.2018, 11:02</p>
            <h2><a href="">der erste Eintrag</a></h2>
            <p>Es funktioniert!</p>
        </div>
        <div>
            <p>erstellt: 11.09.2018, 12:02</p>
            <h2><a href="">der zweite Eintrag</a></h2>
            <p>Es funktioniert immer noch</p>
        </div>
    </body>
</html>